body {
  background-color: #F2F0EB !important;
}

.menu-container {
  text-align: center;
}

form {
  display:inline-block;
  margin-left: 0px;
  margin-right: 0px;
  width: 520px;
  margin-bottom: 5px;
}

#header {
  color: #fff;
  font-size: 55px;
  text-transform: uppercase;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-shadow: 3px 3px 0 #4A4857, -1px -1px 0 #4A4857, 1px -1px 0 #4A4857, -1px 1px 0 #4A4857, 1px 1px 0 #4A4857;
}

#leaderboardHeader {
  @extend #header;
  padding-bottom: 0px;
}

#leaderboardHeaders {
  th {
    text-transform: uppercase;
  }
}

#lyricsContainer {
  font-size: 34px;
  color: #FFD724;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-shadow: 3px 3px 0 #4A4857, -1px -1px 0 #4A4857, 1px -1px 0 #4A4857, -1px 1px 0 #4A4857, 1px 1px 0 #4A4857;
}

#searchCategory {
  width: 120px;
}

#searchInput {
  width: 300px;
}

#searchGenre {
  width: 300px;
  display: none;
}

.btn:focus, .btn:active {
  outline: none !important;
}

#searchButton {
  width: 100px;
}

#chosenSongContainer {
  width: 520px;
  margin-top:5px;
  text-align: center;
  background-color: #fff;
  height: auto;
  display: none;
  padding-left: 0px;
}

#searchResultsContainer {
  text-align: center;
  display: none;
  width: 520px;
  padding-top: 5px;
  margin-top: 0px;
  height: auto;
  padding-bottom: 0px;
}

ul {
  padding: 0;
  margin: 0;
}

ul #searchResults {
  list-style-type: none;
  li {
    padding: 3px;
    display: block;
    :hover {
      cursor: pointer;
      color: #fff;
    }
  }
}

#canvasContainer {
  text-align: center;
}

#canvas {
  padding-top:50px;
  display: inline-block;
}

.upperLeft {
  margin-left: 20px;
  margin-top: 15px;
}

#welcome {
  font-size: 120%;
  display: inline;
}

#userPic {
  max-width: 50px;
  max-height: 50px;
}

#signOut {
  padding-left: 10px;
}

#lyricsContainer {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

marquee {
  behavior: scroll;
  direction: right;
  margin-left: auto;
}

.userPic {
  max-width: 25px;
  max-height: 25px;
  margin-right: 5px;
}

.picture {
  border-radius: 50%;
  width: auto;
  height: auto;
}

td {
  text-align: left;
}

.header {
  padding: 10px;
}
