body {
  background-color: #fff;
}

.menu-container {
  text-align: center;
}

#searchForm {
  display:inline-block;
  margin-left: 0px;
  margin-right: 0px;
  width: 520px;
}

#searchCategory {
  width: 120px;
}

#searchInput {
  width: 300px;
}

#searchGenre {
  width: 300px;
  display: none;
}

.btn:focus, .btn:active {
  outline: none !important;
}

#searchButton {
  width: 100px;
}

#searchResultsContainer {
  text-align: center;
  display: none;
  width: 720px;
  padding-left: 0px;
}

ul {
  padding: 0;
  margin: 0;
}

#canvasContainer {
  text-align: center;
}

#canvas {
  padding-top:50px;
  display: inline-block;
}

ul #searchResults {
  list-style-type: none;
  li {
    display: block;
    :hover {
      padding: 5px;
      background-color: #e3e3e3;
    }
  }
}

.upperLeft {
  margin-left: 20px;
  margin-top: 15px;
}

#welcome {
  font-size: 120%;
  display: inline;
}

#userPic {
  border-radius: 50%;
  width: auto;
  height: auto;
  max-width: 50px;
  max-height: 50px;
}

#signOut {
  padding-left: 10px;
}

#lyricsContainer {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

marquee {
  behavior: scroll;
  direction: right;
  margin-left: auto;
}

.highlighted {
  // color: yellow;
  color: #FFD700;
}
